<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>MealMagic</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg" alt="Logo">
        </div>
        <form action="" method="">
            <input type="email" name="email" id="email" placeholder="EMAIL" required>
            <input type="password" name="password" id="password" placeholder="PASSWORD" required>
            <div class="check">
                <label>
                    <input type="checkbox">
                Remember me
                </label>
                <a href=""><p>Forgot password?</p></a>
            </div>
            <button id="submit" type="submit">Log in</button>
        </form>
        <p>or sign up using</p>
        <div class="icons">
            <a href=""><img src="../img/facebook-icon.svg" alt="Facebook icon to login"></a>
            <a href=""><img src="../img/gmail-icon.svg" alt="Gmail icon to login"></a>
        </div>
        <div class="bottom">
            <p>Don't have an account?</p>
            <a href="">Sign up</a>
        </div>
    </div>
</body>
</html>