@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

:root{
    --primary: #ff852ea4;
    --secondary: #01605A;
    --accents: #FFD0A8;
    --input-red: #E21A4B;
    --input-green: #46d110;
    --font-primary: #003734;
}

.mobile-menu{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
}

body{
    font-size: 1.6rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.sidebar{
    background-color: var(--accents);
    display: flex;
    align-items: start;
    gap: 3rem;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
}

.main-content{
    min-height: 100vh;
}

.logo{
    align-self: center;
    max-width: clamp(7em, 10.5vw, 13em);
    height: auto;
}

.sidebar ul{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.sidebar ul li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
    gap: 1.5rem;
    font-weight: bold;
    font-size: clamp(1.5rem, 1vw, 2.5rem);
}

.sidebar ul li:hover{
    transform: scale(1.1);
}

.sidebar-btn{
    max-width: clamp(1.5rem, 2.5vw, 5.5rem);
    height: auto;
    transition: 0.2s ease-in-out;
}

.header{
    padding: 1.5rem;
    border-bottom: 2px solid var(--font-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary);
    gap: 1rem;
}

#ingredientsForm{
    display: flex;
    gap: 1rem;
    margin-right: auto;
}

#upper-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#addedIngredients{
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
    background-color: var(--accents);
    border-radius: 3rem;
    padding: 1rem;
}

.ingredient-item{
    color: var(--font-primary);
    font-size: 2rem;
}

.header button{
    background-color: var(--accents);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--font-primary);
    font-weight: bold;
    width: clamp(7.5rem, 8.5vw, 10.5rem);
}

.header button:hover{
    transform: scale(1.1);
}

#search-bar{
    background-image: url(/public/img/search.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3rem;
    width: clamp(170px, 70% + 1rem, 1000px);
    border-radius: 3rem;
    font-size: 1.6rem;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    outline: none;
}

#search-bar:hover{
    border: 1px solid var(--primary);
}

#search-bar:focus{
    border: 2px solid var(--primary);
}

.avatar{
    border: 1px solid #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-left: 1.5rem;
}

#user-name{
    margin-left: 1.5rem;
    font-size: 2rem;
    color: #fff;
}

.section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    justify-self: center;
    background-color: var(--primary);
    padding: 1rem;
    min-height: 100vh;
}

.section h3{
    font-size: clamp(2rem, 2vw, 3rem);
    color: var(--font-primary);
    text-align: center;
    padding: 1rem;
}

.recipes, .trending{
    text-align: center;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 100px 9px rgba(165, 33, 33, 0.28);
    -moz-box-shadow: 0px 0px 100px 9px rgba(165, 33, 33, 0.28);
    box-shadow: 0px 0px 100px 9px rgba(165, 33, 33, 0.28);
    border-radius: 1rem;
}

.recipes h3{
    color: var(--font-primary);
}

.trending{
    background-color: var(--secondary);
}

.trending h3{
    color: var(--accents);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accents);
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}

.card:active{
    transform: scale(0.95);
}

.recipes h4, .trending h4{
    font-size: clamp(1.5rem, 1vw, 2.5rem);
    color: var(--font-primary);
    padding: 1rem;
}

.recipes p, .trending p{
    font-size: clamp(1.2rem, 1vw, 2rem);
    color: var(--font-primary);
}

@media only screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }

    .sidebar{
        padding: 0.5rem;
        min-height: 10vh;
        justify-content: center;
        align-items: center;
    }

    .sidebar ul{
        display: none;
    }

    .logo{
        display: none;
    }

    .mobile-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu h1{
        font-family: 'Single Day', cursive;
        color: var(--font-primary);
        font-size: 6rem;
        text-shadow: 0px 6px 13px rgba(0, 55, 52, 1);
    }

    .header{
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    #search-bar{
        width: clamp(170px, 70% + 1rem, 1000px);
    }

    .avatar{
        width: 4rem;
        height: 4rem;
    }

    #user-name{
        font-size: 1.5rem;
    }

    .section{
        grid-template-columns: 1fr;
    }

    .section h3{
        font-size: clamp(2rem, 2vw, 3rem);
    }

    .cards{
        grid-template-columns: 1fr;
    }

    .recipes, .trending{
        padding: 0;
    }

    .recipes h3, .trending h3{
        padding: 0;
    }

    .recipes h4, .trending h4{
        padding: 0;
    }

    .recipes p, .trending p{
        padding: 0;
    }
}



